<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <ul>
        <li><a  href="/">Home</a></li>
        <li><a  class="active" href="/upload">Upload file</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>


    <h1>Sự khác giữa 7 tuổi và 17 tuổi là 10 năm</h1>
    <h1>Sự khác giữa 17 tuổi và 27 tuổi là cả cuộc đời</h1>
    <img src="https://blogradio.vn/uploads/cms/source/2021/28/17va27_(2).jpg">
</body>

</html>