body {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.create-user-container {
  padding: 15px;
  text-align: center;
}

.create-user-container label {
  display: block;
} 

.create-user-container .btn-submit {
  margin-top: 15px;
  cursor: pointer;
}

.update-user-container {
  padding   : 15px;
  text-align: center;
}

.update-user-container label {
  display: block;
}

.btn-save {
  margin-top: 15px;
  cursor    : pointer;
}